node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.vite/vitest/results.json
dist/app.css
ui/assets/arrow_upward.svg
