:root {
    font-size: clamp(calc(0.9rem + .3vw), 1rem, 1.5rem);
    --text: #040406;
    --background: #f1f3f8;
    --primary: #6285ac;
    --primary20: hsla(212, 31%, 53%, 0.2);
    --primary40: hsla(212, 31%, 53%, 0.4);
    --primaryDesaturated: hsla(212, 31%, 80%);

    --secondary: hsl(259, 31%, 72%);
    --secondary20: hsl(259, 31%, 72%, 0.2);
    --secondary40: hsl(259, 31%, 72%, 0.4);
    --secondary60: hsl(259, 31%, 72%, 0.6);
    --accent: #9f83be;
  }


::before,
::after {
box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: var(--background);
    color: var(--text);
    padding: 0;
    background: linear-gradient(180deg, var(--background) 50%, var(--primary20) 100%) no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

/* Main */
main {
    display : flex;
    flex-direction: column;
    padding: 2em;
}

/* Components */
h1 {
    margin : auto;
}

main h1 {
    font-variant: small-caps;
    margin: 2em auto;
}

h3 {
    margin : 0;
    padding: 1em 1em;
    font-variant : small-caps;
}


.card {
    display : grid;
    grid-template-columns: 1fr 1fr;
}

#time-slot-container,
#total-time-container,
#consecutive-time-container {
    padding : 1em;
}

div[id^="card-"][id$="days"],
div[id^="card-"][id$="times"]
 {
    border: 1px grey dashed;
}

a-site, a-group {
    display: flex;
    width: 100%;
    border-radius: 5px;
    width : max-content;
    margin: 1em auto;
}

a-group, a-site {
    border: 3px solid var(--accent);
}

div[id$="-title-row"] {
    display: flex;
    align-items: center;
    justify-content : space-between;
    background-color : var(--accent);
    padding: 0 1em;
}

div#group-list, div#site-list {
    max-width: 60%;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
}


restriction-item {
    display: flex;
    flex-direction: column;
    width: 90%;
}

div #site, div #group {
    position: relative
}

div#buttons {
    position : absolute;
    right: -1em;
}

span.material-symbols-outlined {
    cursor : pointer;
}

/* Popup */
main#popup {
    min-width: 300px;
}

/* To the top */
#to-the-top {
    display: flex;
    align-self: end;
    justify-content: flex-end;
    position: sticky;
    bottom: 1em;
    background-color: var(--accent);
    border-radius: 50%;
    padding: 1em;
    margin-right: 1em;
}


#top {
    color : var(--text);
}

@media (max-width: 768px) {
    body {
        display: block;
    }
}